*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flexy{
  display: flexbox;
  justify-content: center;
  margin: 1%;

}
.background{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.80)), url(backgroundBlur.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.scroll-down{
  position: absolute;
  display: flexbox;
  justify-content: center;
  margin-left: 17%;
  margin-top: 0.9%;
}
.scroll-down i{
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: #009688;
  border-radius: 2rem;
  transition: all .50s ease;
  
}
.scroll-down i:hover{
  transform: translateY(-5px);
}

.scroll-top{
  position: fixed;
  display: flexbox;
  justify-content: center;
  margin-left: 97%;
  margin-top: 47.5%;
}
.scroll-top i{
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: #009688;
  border-radius: 30px;
  transition: all .50s ease;

}
.scroll-top i:hover{
  transform: translateY(-5px);
  
}

::-webkit-scrollbar{
  display: none;
}


a{
  text-decoration: unset;
}

























































@media (max-width:2560px){
  
  }
  p{
    margin: 1.5%;
  }
  .background{
    height: 100%;
  }
  #menu-icon{
    display: block;
    font-size: 50px;
  }
  .navbar{
    position: absolute;
    top: 120%;
    right: -100%;
    width: 270px;
    height: fit-content;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
    box-shadow: 1px 1px 10px #009688;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--text-color);
    transform: translateY(10px);
  }
  .navbar a.active{
    color: var(--text-color);
  }
  .navbar.open{
    right: 2%;
  }
@media (max-width:2064px){
  p{
    font-size: 2.7rem;
  }
}
@media (max-width:1920px){
  
}
@media (max-width:1705px){
  
}
@media (max-width:1634px){
  
}
@media (max-width:1600px){
  
  p{
    font-size: 2.5rem;
  }
}
@media (max-width:1552px){
  
}
@media (max-width:1429px){
  
}
@media (max-width:1389px){
 
}
@media (max-width:1185px){
  
}
@media (max-width:1050px){
  p{
    font-size: 2.2rem;
    margin: 3%;
  }

}
@media (max-width:889px){
  
}
@media (max-width:790px){
  
}
@media (max-width:720px){
  p{
    margin: 2%;
    padding: 2%;
  }

}
@media (max-width:600px){
  
}
@media (max-width:500px){
  h1{
    font-size: 3.5rem;
    margin: 4%;
  }
  p{
    padding: 2%;
  }

}
@media (max-width:414px){
  
}
@media (max-width:375px){
  p{
    font-size: 2rem;
  }

}
@media (max-width:320px){
  h1{
    font-size: 2.7rem;
  }
  p{
    font-size: 1.5rem;
  }

}
@media (max-width:293px){
  
}