*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}





.container{
  display: inline-block;
  cursor: pointer;
  margin: 3%;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}


.change .bar1 {
  transform:  translate(0 , 11px) rotate(-45deg);
}
.change .bar2 {
  transform: translateX(10px);
  opacity: 0;
}
.change .bar3 {
  transform: translate(0 , -11px) rotate(45deg);
}























:root{
  --bg-color:#222327;
  --text-color:#fff;
  --main-color:#009688;
}
body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.background{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(background.jpg);
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.50s ease;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.logo i{
  color: palegreen;
  font-size: 55px;
  margin-right: 3px;

}
.logo span{
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 600;
}
.navbar{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 50px;
  transition: all 0.50s ease;
}
.navbar a.active{
  color: var(--text-color);
}
.navbar a:hover{
  color: var(--main-color);
}


main h1{
  font-size: var(--big-font);
  display: flex;
  margin-left: 42%;
  margin-right: auto;
  margin-top: 10%;
}

.column1{
  margin-top: 0%;
  display: flexbox;
  width: 50%;
  text-align: center;
  float: left;
}
.column1 h1{
  color: #fff;
  margin-left: 0%;
  justify-content: center;
  font-size: 3rem;
}
.column2{
  margin-top: 0%;
  display: flexbox;
  width: 50%;
  text-align: center;
  float: right;
}
.column2 h1{
  color: #fff;
  margin-left: 0%;
  justify-content: center;
  font-size: 3rem;
}
section h1{
  color: #fff;
}

a button{
  width: 75px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.filler::before{
  content: ' ';
  height: 100%;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
 
}
.filler:hover::before{
  width: 100%;
}
.filler{
  z-index: 2;
}
.bgColor{
  background: rgb(0,150,136);
  background: linear-gradient(90deg, rgba(0,150,136,1) 0%, rgba(0,150,96,0) 100%);
  width: 100%; 
 }



























































































@media (max-width:2560px){
  .title{
    margin-left: 0%;
    display: flexbox;
    justify-content: center;
    font-size: 4.2rem;
    margin-top: 6%;
  }
  .container{
    display: none;
  }
}
@media (max-width:2064px){
  header {
    padding: 10px 4%;
    transition: .2s;
  }
}
@media (max-width:1920px){
  .column1, .column2{
    margin-top: -2%;
  }
  .title{
    margin-top: 6%;
  }
  .column1 h1, .column2 h1{
    font-size: 2.5rem;
  }
}
@media (max-width:1705px){
  header{
    padding: 10px 2%;
  }
  .title{
    font-size: 4rem;
  }
}
@media (max-width:1634px){
  header{
    padding: 10px 1%;
  }
}
@media (max-width:1600px){
 header{
  margin-top: 0%;
 }
 .logo span{
  font-size: 2.5rem;
 }
}
@media (max-width:1552px){
  .logo span{
    font-size: 2.4rem;
  }
  .navbar a{
    font-size: 1.1rem;
  }
}
@media (max-width:1429px){
  .logo span{
    font-size: 2rem;
  }
}
@media (max-width:1389px){
  .navbar a{
    margin-right: 10px;
  }
  .title{
    font-size: 3.5rem;
    margin-top: 8%;
  }
}
@media (max-width:1185px){
  .container{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 120%;
    right: -100%;
    width: 270px;
    height: fit-content;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
    box-shadow: 1px 1px 10px #009688;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--text-color);
    transform: translateY(10px);
  }
  .navbar a.active{
    color: var(--text-color);
  }
  .navbar.open{
    right: 2%;
  }
  .logo span{
    font-size: 3.4rem;
  }
  .title{
    margin-top: 13%;
  }
  .column1 h1, .column2 h1{
    font-size: 2.4rem;
  }
}
@media (max-width:1050px){
  .title{
    margin-top: 10%;
  }
  .column1{
    width: 100%;
    margin-top: -7%;
  }
  .column2{
    width: 100%;
    margin-top: -7%;
  }
  .logo span{
    font-size: 3rem;
}
}
@media (max-width:889px){
  .title{
    font-size: 3rem;
    margin-top: 13%;
  }
  .logo span{
    font-size: 3rem;
  }
}
@media (max-width:790px){
  .logo span{
    font-size: 2.5rem;
  }
  .title{
    margin-top: 15.4%;
  }
  .background{
    max-height: 2100px;
    height: fit-content;
  }
}
@media (max-width:720px){
  .title{
    margin-top: 15%;
  }
}
@media (max-width:600px){
  .column1 h1, .column2 h1{
    font-size: 2rem;
  }
  .logo span{
    font-size: 2rem;
  }
  .logo i{
    font-size: 2rem;
  }
}
@media (max-width:500px){
  .title{
    margin-top: 20%;
  }
  .column1{
    margin-top: -2%;
  }
}
@media (max-width:400px){
  .title{
    font-size: 2.5rem;
    margin-top: 20%;
  }
  .background{
    max-height: 3000px;
  }
}
@media (max-width:350px){
  .title{
    margin-top: 28%;
  }
  .column1 h1, .column2 h1{
    font-size: 1.7rem;
  }
}
@media (max-width:300px){
  .logo span{
    font-size: 1.7rem;
  }
}
@media (max-width:293px){
  .background{
    max-height: 4000px;
  }
  .column1 h1, .column2 h1{
    font-size: 1.5rem;
  }
}
